version: '3.7'
services:
  rabbitmq:
    image: rabbitmq:3.13.6-management
    networks:
      - rabbitmq_net
    ports:
      - "15672:15672"
      - "5672:5672"
      - "5552:5552"
      - "15671:15671"
      - "5671:5671"
    volumes:
      - ./conf/keycloak:/conf
      - ./conf/enabled_plugins:/etc/rabbitmq/enabled_plugins
      - ./conf/keycloak/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
      - ./conf/keycloak/advanced.config:/etc/rabbitmq/advanced.config:ro
      - ./certs:/etc/letsencrypt
    restart: always

  rabbitmq_tcp_relay:
    image: cloudamqp/websocket-tcp-relay
    networks:
      - rabbitmq_net
    ports:
      - "15670:15670"
    volumes:
      - ./conf/keycloak:/conf
    command: --upstream=tcp://rabbitmq:5672 --bind=0.0.0.0
    restart: always

  keycloak:
    image: quay.io/keycloak/keycloak:20.0
    networks:
      - rabbitmq_net
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./conf/keycloak/import:/opt/keycloak/data/import
      - ./certs:/etc/letsencrypt
    command: start-dev --import-realm --https-certificate-file=/etc/letsencrypt/live/nost.smce.nasa.gov/fullchain.pem --https-certificate-key-file=/etc/letsencrypt/live/nost.smce.nasa.gov/privkey.pem
    restart: always

networks:
  rabbitmq_net:
    name: rabbitmq_net
    # external: true
    driver: bridge