version: '3'
networks:
  rabbitmq_net:
    name: rabbitmq_net
    driver: bridge
services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: "nginx-proxy"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./certs:/etc/nginx/certs"
      - "./vhost:/etc/nginx/vhost.d"
      - "./html:/usr/share/nginx/html"
      - "/var/run/docker.sock:/tmp/docker.sock:ro"
  nginx-proxy-acme:
    image: nginxproxy/acme-companion
    container_name: "acme-companion"
    restart: always
    depends_on:
      - nginx-proxy
    volumes_from:
      - nginx-proxy
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./acme:/etc/acme.sh"
    environment:
      DEFAULT_EMAIL: emmanuelgonzalez@asu.edu
  keycloak:
    image: quay.io/keycloak/keycloak:20.0
    networks:
      - rabbitmq_net
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./conf/keycloak/import:/opt/keycloak/data/import
      - ./certs:/etc/letsencrypt
    command: start-dev --verbose --import-realm --https-certificate-file=/etc/letsencrypt/default.crt --https-certificate-key-file=/etc/letsencrypt/default.key
    restart: always