version: '3'
services:
  web:
    image: nginx
    networks:
      - localtest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/letsencrypt
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    networks:
      - localtest
    volumes:
      - ./certs:/etc/letsencrypt
    command: certonly --webroot -w /etc/letsencrypt -d yourdomain.com --agree-tos -n --email gonzalez.mikey1@gmail.com

networks:
  localtest:
    driver: bridge
